/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.lein-repl-history
*~
/app.js
*#*#
*.#*
blog.properties
resources/public/js/*
*.swp
